<article class="message is-info">
    <div class="message-header">
        <div class="is-flex is-align-items-center">
            <img src="https://www.ledemondujeu.com/content/img/submenu-gift.png" class="mr-3" width="75px"/>
            <h1 class="is-size-3">Participez à notre jeu concours !</h1>
        </div>
    </div>
    <div class="message-body">
        <p class="block">
            Tentez de gagner votre chance à notre jeu concours pour gagner des cadeaux !
            <br>
            Inscription simple et rapide à tout moment. Aucun SPAM, aucune revente de votre adresse !
        </p>
        <div class="field has-addons">
            <div class="control">
                <input type="email" name="newsletter-email" class="input" placeholder="Entrez votre email"
                       required=""></div>
            <div class="control">
                <input type="submit" class="button is-info" value="Je valide">
            </div>
        </div>
    </div>
</article>
